{% extends "_includes/base.html" %}

{% block content %}
<h6 id="maintitle">GAME PAGE {{ roomid }} </h6>
    <table id="word_table" class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                </tr>
        </thead>
        <tbody>
        {% for i in range(5) %}
            <tr>
            {% for n in range(5) %}
                {% if boardstate %}
                    <td class="test">
                        {% if boardstate[i][n] == 'B' %}
                        <div class="card cell bg-primary">
                            <span class="card-body cell">
                            {{ thenames[i][n] }} 
                            </span>
                        </div>
                        {% elif boardstate[i][n] == 'R' %}
                        <div class="card cell bg-danger">
                            <span class="card-body cell">
                            {{ thenames[i][n] }} 
                            </span>
                        </div>
                        {% elif boardstate[i][n] == 'A' %}
                        <div class="card cell bg-warning">
                            <span class="card-body cell">
                            {{ thenames[i][n] }} 
                            </span>
                        </div>
                        {% else %}
                            <div class="card cell">
                                <span class="card-body cell">
                                {{ thenames[i][n] }} 
                                </span>
                            </div>
                        {% endif %}
                    </td>
                {% else %}
                    <td class="test">
                        <div class="card cell">
                            <span class="card-body cell">
                            {{ thenames[i][n] }}
                            </span>
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>

    {% if boardstate %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        {% for row in boardstate %}
            <tr>
            {% for state in row %}
                <td>
                    <div class="card cell">
                        <span class="card-body cell">
                        {{ state }}
                        </span>
                     </div>
                </td>
            {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
            
{% endblock %}
<!--Include DOM objects here.Should be UI of the game-->

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"> 
        var roomid ='{{ roomid }}'
        var url = "/static/js/game_page.js"
        $.getScript(url);
    </script>
{% endblock %}