{% extends "_includes/base.html" %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">SlugNames</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="">Home</a></li>
                    <li><a href="">placeholder</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block app_content %}
<div class="control">
    <input id="room_input" class="input" type="text" placeholder="Room Name"> </input>
    <input id="username_input" class="input" type="text" placeholder="UserName"> </input>
</div>

<a type="button" id="join_room" class="btn btn-primary btn-lg btn-block">Start a game!</a>
{% endblock %}


{% block scripts %}
    <script src="static/js/room_handler.js"></script>
{% endblock %}