{% extends 'bootstrap/base.html' %}


{% block title %}
SlugNames
{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='node_modules/socket.io-client/dist/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <!--If you're looking for the reason it's squished, it's this. Needed for AJAX and JQUERY-->
    <!-- If want to change, just make sure the id is container, and that container is empty-->
    <!--This holds UI for the board-->
    <section  id="container">
        {% block app_content %}{% endblock %}
    </section>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}